.creditsPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../public/credits.jpg);
    background-size: cover;
    overflow-y: scroll;
    height: 100vh; 
    width: 100vi;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
  }
  
  .creditsPage .part1 {
    margin-top: 100px;
  }
  .creditsPage .part3 {
    margin-bottom: 100px;
  }