<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Country Info</title>
    <link rel="stylesheet" type="text/css" href="../public/assets/styles.css">
  </head>
  <body>
	  <h1>FAKE NEWS DETECTOR</h1>
    <form action="/result" method="GET">
      <label for="fname">Enter the title of the article:</label><br>
      <input type="text" id="title" name="title" ><br>
      <label for="fname">Enter the content of the article:</label><br>
      <input type="text" id="content" name="content" ><br>
      <input type="submit" value="Search">
    </form>
    
  </body>
</html>